@import '../../assets/styles/variables';

.messagePanel {
    height: 100%;
    position: relative;
    display: grid;
    grid-template-rows: 1fr auto;
}

.messagesWrapper {
    overflow: auto;

    .scrollerDiv {
        opacity: 0;
    }
}

.messageCard {
    width: 350px;
    margin: $space-md;

    .senderName {
        color: $accent;
    }

    &.owner {
        margin-left: auto;

        .senderName {
            color: $primary;
        }
    }

    .timestamp {
        text-align: right;
        font-size: $font-xs;
        color: rgba($secondary, 0.5);
    }
}

.messageFormWrapper {
    background-color: $tertiary;
    padding: $space-md;
}

.premiumWarning {
    text-align: center;
}