$primary: #06BCC1;
$secondary: #12263A;
$tertiary: #C5D8D1;
$accent: #F4D1AE;
$bg: #F4EDEA;
$white: #fff;
$error: #FF0000;

$space-xs: 4px;
$space-sm: 8px;
$space-md: 16px;
$space-lg: 24px;
$space-xl: 32px;

$font-xs: 11px;
$font-sm: 13px;
$font-md: 15px;
$font-lg: 21px;
$font-xl: 28px;

$transition: all 150ms ease-in-out;
$radius: 3px;
$shadow: 0 4px 8px -4px $secondary;
